.bt {
  display: inline-block;
  text-align: center;
  justify-content: center;
  vertical-align: middle;

  a {
    color: #fff;
    display: block;
    background-color: $purple-btn;
    padding: .375rem .75rem;
    border-radius: 0.25rem;

    &:hover {
      background: $purple-hover-btn;
      color: $grey-hover-txt;
    }
  }
}
