$font-family-base: 'BenchNine', sans-serif;
$font-size-root: 1.25em; // html
$font-size-body: 1rem;
$line-height-body: 1.5rem;

$color-page-bg: #ededed;
$color-surface: #fff;
$color-link: #ae2123;
$color-link-hover: #999;

$purple-btn: #3B2851; // boutons + items 800
$purple-nav: #543973; // menu bg 700
$purple-hover-btn: #6d4a95; // hover 500
$purple-hover-txt: #d4c7e4; // hover texte 200
$grey-hover-txt: #cccccc;