// Couleurs
$color-primary: #3B2851;
$color-secondary: #543973;
$color-hover: #6d4a95;
$color-text: #ae2123;
$color-grey: #999;
$color-light: #ededed;
$color-white: #fff;

// Fontes
$font-main: 'BenchNine', sans-serif;