nav {
  padding: $spacing-unit;

  .menu {
    background: $accent-color;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-bottom: 2rem;

    .menu-item {
      list-style: none;

      a {
        background: $primary-color;
        color: $white;
        padding: 0.5rem 1rem;
        margin: 0 0.25rem;
        border-radius: 5px;
        font-weight: bold;
        display: block;
        @include transition;

        &:hover {
          background-color: $hover-color;
          color: #d4c7e4;
        }
      }
    }
  }
}
