.menu {
  background: $purple-nav;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  border-radius: 1em;
}

.menu-item { list-style: none; }

.menu-item a {
  background: $purple-btn;
  padding: 10px 20px;
  margin: 1px 0;
  display: block;
  text-decoration: none;
  color: #fff;

  &:hover {
    background: $purple-hover-btn;
    color: $purple-hover-txt;
  }
}
