* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  margin: 30px;
}
table {
  width: 100%;
  margin: 0px auto;
  border-collapse: collapse;

}
td {
  border: 1px solid #000;
  padding: 10px 50px;
  font-size: 1.3em;
  text-align: center;
  vertical-align: middle;
}
td:first-child {
  width: 66%;
}
td:last-child {
  width: 34%;
  cursor: pointer;
}
/* Color styles */
.green {
  background-color: rgb(11, 158, 11);
}
.red {
  background-color: rgb(235, 12, 12);
}
/* Button styles */
.buttons {
  margin-top: 20px;
}
button {
  margin: 5px;
  padding: 10px 20px;
  color: white;
  background-color: #444343;
  border-radius: 8px;
  cursor: pointer;
}
