* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    justify-content: center;
}
table {
    padding: 10px;
     background-color: rgba(200, 200, 210, 1);
}
td, th {
    padding: 10px;
}
.title {
    font-family: cursive;
    caption-side: top;
    font-size: 1.8em;
    background-color: rgba(255, 254, 253, 1);
    padding: 20px;
    border-left: 1px black solid;
    border-right: 1px black solid;
    border-top: 1px black solid;
}
.legend{
    caption-side: bottom;
    font-size: 0.7em;
    text-align: right;
    font-weight: bold;
    padding-top: 10px;
}
colgroup:nth-child(odd) {
    background-color: rgba(215, 192, 161, 1);
}
colgroup:nth-child(2) {
    background-color: rgba(197, 197, 207, 1);
}
thead, tfoot {
    background-color: rgba(0, 0, 0, 0.3);
    color: antiquewhite;
}
thead tr:first-child {
    background-color: rgba(0, 0, 0, 0.3);
}
tbody tr:nth-child(2n+1) {
    background-color: rgba(255, 255, 255, 0.3);
}
tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
tbody tr:hover td {
    color: antiquewhite;
}
tbody tr:first-child {
    background-color: rgba(76,125,104,1);
    color: antiquewhite;
}
tbody tr:last-child {
    background-color: rgba(75,99,117,1);
    color: antiquewhite;
}
tbody tr td:last-child {
    text-align: right;
    font-weight: bold;
}